{{# if this }}
  <div> Participants:
    <ul class="participant-list">
      {{# each this }}
        {{# if this.status }}
          <li class="participant-paid"> {{ this.name }} - paid </li>
        {{ else }}
          <li class="participant-unpaid"> {{ this.name }} - unpaid </li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
{{/if}}