<div> Participants:
  <ul class="participant-list">
    {{# each this.waiting }}
      <li class="participant-unpaid">
        {{ this.name }} - unpaid
        {{# if this.pay_link }}
          <a href="{{ this.pay_link }}"> mark paid </a>
        {{/if}}
       </li>
     {{/each}}
     {{# each this.paid }}
       <li class="participant-paid"> {{ this.name }} - paid </li>
     {{/each}}
     {{# if this.owner }}
       <li class="participant-paid"> {{ this.owner.name }} - owner </li>
     {{/ if}}
  </ul>
</div>