<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }} </title>
    <link type="text/css" rel="stylesheet" href="/static/main.css" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="/fonts/foundation_icons_all/foundation_icons_general/stylesheets/general_foundicons.css">
  </head>
  <body>
    {{#if logged_in}}
      <a href="/">Home</a>
      <a href="/create_expense/">Create Expense</a>
      <a href="/logout/">Logout</a>
    {{else}}
      <a href="/login/">Login</a>
      <a href="/create_account/">Create Account</a>
    {{/if}}
    {{{body}}}
  </body>
</html>
