<form method="post" enctype="multipart/form-data">
<div>
  <label for="password"> Current Password: </label>
  <input type="password" name="password" required="required" />
</div>
<div>
  <label for="password"> New Password: </label>
  <input type="password" name="new_password" required="required" />
</div>
<div>
  <label for="password"> Confirm New Password: </label>
  <input type="password" name="new_password_2" required="required" />
</div>
<div>
  <label for="secret"> Secret: </label>
  <input type="password" name="secret" required="required" />
</div>
<input type="submit" value="Create Account" />
</form>