<form method="post" enctype="multipart/form-data">
<div>
  <label for="value"> Value: </label>
  <input type="number" name="value" required="required" />
</div>
<div>
  <label for="participants"> Participants: </label>
  <input type="text" name="participants" />
</div>
<input type="submit" value="Create Expense" />
</form>