<h1> Expenses for {{ name }}</h1>
{{# if unfinished_expenses}}
    <h2>Owned Unfinished Expenses</h2>
    <ul class="expense-listing">
      {{#each unfinished_expenses}}
          <li class="expense-listing-item">
            {{> expense}}
          </li>
      {{/each}}
    </ul>
{{/if}}
{{# if unpaid_expenses}}
    <h2>Unfinished Expenses</h2>
    <ul class="expense-listing">
      {{#each unpaid_expenses}}
          <li class="expense-listing-item">
            {{> expense}}
          </li>
      {{/each}}
    </ul>
{{/if}}