<form method="post" enctype="multipart/form-data">
<div>
  <label for="email"> Email: </label>
  <input type="email" name="email" required="required" />
</div>
<div>
  <label for="name"> Enter the name for the account: </label>
  <input type="text" name="name" required="required" />
</div>
<div>
  <label for="secret"> Secret: </label>
  <input type="password" name="secret" required="required" />
</div>
<input type="submit" value="Reset Password" />
</form>