ul.expense-listing {
    list-style-type: none;
}

li.expense-listing-item:nth-child(odd) {
    background-color: #EEE;
}

ul.participant-list {
    list-style-type: none;
}

.participant-paid:before {
    font-family: "GeneralFoundicons";
    content: "\f005"; /* Put a checkmark */
}

.participant-unpaid:before {
    font-family: "GeneralFoundicons";
    content: "\f006"; /* Put a X */
}

.contact-selector {
    width: 200px;
    height: 400px;
    padding: 5px;
    overflow-y: scroll;
}

.contact-selector > div {
    padding: 10px;
    margin: 10px;
    border: 1px solid #CCC;
    border-radius: 5px;
}

.contact-selector > div.contact-selected {
    background-color: rgb(0, 168, 255);
}

/* Styling the range selectors on creation */
input[type=range] {
    border-radius: 3px;
    background-color: #ccc;
    border: 1px solid black;
    height: 34px;
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
    height: 34px;
}

input[type=range]::-moz-range-track {
    border-radius: 3px;
    background-color: #ccc;
    border: 1px solid black;
    height: 34px;
    appearance: none;
}

input[type=range]::-moz-range-thumb {
    height: 34px;
}