<div class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label" for="title"> Title </label>
    <div class="col-sm-10">
      <input class="form-control"
             type="text" ng-model="title" required="required" id="title"
             placeholder="Example: November Rent"/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="value"> Value </label>
    <div class="col-sm-10">
      <input class="form-control"
             type="text" ng-model="value" required="required" id="value"
             ng-change="updateSubValues()"
             placeholder="Example: $5.00"/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label"
           for="description"> Description</label>
    <div class="col-sm-10">
      <input class="form-control" type="text"
             ng-model="description" id="description"
             placeholder="Not Required"/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label"> Participants </label>
    <div class="col-sm-10">
      <div ng-repeat="(id, contact) in selectedContacts">
        <span class="col-sm-5">
          {{ contact.name }}
        </span>
        <span class="col-sm-5">
          <input ng-model="contact.value"
                 type="text"
                 class="form-control"
                 ng-change="updateTotalValue()"/>
        </span>
        <button class="btn btn-danger"
                ng-click="delete(id)"
                class="delete">
          Delete
        </button>
      </div>
      <div class="col-sm-5">
        <input ng-model="addedContactName"
               typeahead="contact.name for contact in contacts | filter:$viewValue"
               typeahead-editable="false"
               class="form-control" />
      </div>
      <div class="col-sm-5">
        <input ng-model="addedValue"
               type="text"
               class="form-control" />
      </div>
      <button class="btn btn-success"
              ng-click="add()">
        Add
      </button>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-10 col-sm-offset-2">
    <button class="btn btn-success" ng-click="submit()"> Done </button>
    <button class="btn btn-default" ng-click="cancel()"> Cancel </button>
  </div>
</div>
