<div ng-controller="expenseController">
  <p> <a href="#/expense/{{ data.id }}"> {{ data.title }} </a> - {{ data.owner.name }} </p>
  <p> {{ renderValue(data.value) }} </p>
  <div>
    Participants:
    <ul ng-repeat="participant in data.participants"
        class="participant-list">
      <li ng-show="participant.status == 'Waiting'"
          class="participant-unpaid">
        {{ participant.name }} - {{ participant.status }}
        <button ng-show="isOwner()" ng-click="markPaid(participant.id, data.id)">
          mark paid
        </button>
      </li>
      <li ng-show="participant.status == 'Paid'"
          class="participant-paid">
        {{ participant.name }} - {{ participant.status }}
      </li>
    </ul>
  </div>

  <img ng-if="data.image_id" ng-src="/thumb/{{data.image_id }}/320x240" />
</div>
