<div ng-controller="expenseController">
  <div class="col-sm-6">

    <p>
      <a href="#/expense/{{ data.id }}"> {{ data.title }} </a>
      - {{ data.owner.name }}
    </p>

    <p ng-if="data.description"> {{ data.description }} </p>

    <p ng-if="isOwner()">
      <b> Total Remaining: {{ renderValue(valueWaiting()) }} </b>
    </p>

    <p ng-if="viewerParticipant() && viewerParticipant().status == 'Waiting'">
      <b> You owe: {{ renderValue(viewerParticipant().value) }} </b>
      <a ng-href="{{ squareCashLink() }}" target="_blank"> Pay with Square Cash </a>
    </p>

    <p ng-if="viewerParticipant() && viewerParticipant().status != 'Waiting'">
      <b> None Owed! </b>
    </p>

    <img ng-if="data.image_id" ng-src="/thumb/{{data.image_id }}/320x240" />
  </div>
  <div class="col-sm-6">
    <ul class="participant-list">

      <li class="row">
        <span class="participant-paid col-sm-6">
          {{ data.owner.name }} - Owner
        </span>
      </li>


      <li ng-repeat="participant in unpaid_participants()"
          class="row">
        <span class="participant-unpaid col-sm-6">
          {{ participant.name }}: {{ renderValue(participant.value) }} - {{ participant.status }}
        </span>

        <span class="col-sm-6">
          <button class="btn btn-primary btn-xs"
                  ng-show="isOwner()"
                  ng-click="markPaid(participant.id, data.id)">
            mark paid
          </button>
        </span>
      </li>

      <li ng-repeat="participant in paid_participants()"
          class="row">
        <span class="participant-paid col-sm-6">
          {{ participant.name }}: {{ renderValue(participant.value) }} - {{ participant.status }}
        </span>
      </li>

    </ul>
  </div>

</div>
